/* class names always starts withn a dot */
.title{
    color: red;
    font-family: sans-serif;
}
.center{
    text-align: center;
}

/* div is used to structure the eklements */
/* box model
    border => thickness, style, color
    padding
    margin
*/


.box{
    width: 300px;
    border: 1px solid lightgray;
    padding: 10px;
    /* margin:60px auto; */
    border-radius: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.box-img{
    width: 100%;
    border-radius: 14px;
    height: 180px;
    object-fit: cover;
}
.bg{
    background-color: black;
    width: 700px;
    margin: 60px auto;
    color: white;
    padding:130px 50px;
    border-radius: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.btn{
    background-color: white;
    border: none;
    padding: 14px 30px;
    border-radius: 60px;
}
.profile{
    width: 300px;
    margin: 30px auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.user{
    height: 160px;
    border-radius: 50%;
}
.login{
    width: 400px;
    margin:100px auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.input{
    width: 100%;
    margin-bottom: 12px;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid lightgray;
    /* border-radius: 8px; */
    font-size: 16px;
}
/* box-sizing: border-box; can be used to apply padding and it will not got out 
of the parent element */
.login-btn{
    background-color: black;
    color: white;
    border: none;
    padding: 12px 30px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    /* border-radius: 8px; */
}
.recap{
    width: 280px;
    margin: 60px auto;
    border: 1px solid lightgray;
    border-radius: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.recap-img{
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.padding{
    padding: 8px;
}
.flex{
    display: flex;
    justify-content: center;
    gap: 30px;
}