/* positions
    static => default
    fixed
    sticky
    absolute
    relative
*/


/* recap => box models */
body{
    font-family: sans-serif;
}
.card{
    border: 1px solid lightgray;
    width: 260px;
    padding: 10px;
    border-radius: 14px;
    margin: 10px auto;
}
.card-img{
    width: 100%;
    border-radius: 14px;
}
.help-btn{
    background-color: black;
    border: none;
    padding: 16px 30px;
    border-radius: 50px;
    font-size: 16px;
    color: white;
    position: fixed;
    right: 50px;
    bottom: 100px;
}
.banner{
    width: 260px;
    background-color: orangered;
    color: white;
    border-radius: 14px;
    padding: 10px;
    margin: 10px auto;
    position: sticky;
    top: 0;
}
/* right, left, top and bottom => distance from that direction */
.red{
    height: 100px;
    width: 100px;
    background-color: red;;
}
.black{
    position: absolute;
    top: 0;
    height: 80px;
    width: 80px;
    background-color: black;
}
.blue{
    height: 90px;
    width: 90px;
    background-color: royalblue;
}
.parent{
    height: 400px;
    width: 700px;
    background-color: rgb(27, 84, 255);
    margin: 40px auto;
    position: relative;
}
.child{
    height: 80px;
    width: 80px;
    background-color: black;
    position: absolute;
    bottom: 0;
}


.bg{
    position: relative;
    width: 700px;
    margin:40px auto ;
}
.bg-img{
    width: 100%;
}
.content{
    position: absolute;
    top: 160px;
    left: 40px;
    color: white;
}
.btn{
    background-color: white;
    border: none;
    padding: 16px 30px;
    font-size: 15px;
}
/* relative ensures that the child absolute is moving inside the parent */



.best{
    position: absolute;
    background-color: rgb(255, 247, 230);
    color: rgb(69, 47, 0);
    font-size: 14px;
    top: 0;
    padding: 2px 12px;
    margin: 10px;
    border-radius: 20px;
}
.ratings{
    position: absolute;
    background-color: rgb(255, 255, 255);
    color: rgb(69, 47, 0);
    font-size: 14px;
    bottom: 0;
    padding: 2px 12px;
    margin: 10px;
    border-radius: 20px;
}
.card-header{
    position: relative;
}
.profile{
    width: 600px;
    margin: 10px auto;
    position: relative;
}
.cover{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.user{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    bottom: -50px;
    left: 40px;
    border: 5px solid white;
}