body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


@media(max-width: 990px){
    .container{
        
        margin:30px auto;

    }
    .feeds{
        
        
    }
    .sidebar{
        text-align: center;
        
    }
    .title{
        margin-top: 0;
    }
    .feed{
        border: 1px solid lightgray;
        border-radius: 16px;
        padding: 10px;
        margin-bottom: 24px;
    }
    .profile{
        display: flex;
        gap: 6px;
        align-items: center;
    }
    .name{
        margin: 0;
    }
    .user-name{
        margin:0;
        color: rgb(56, 56, 56);
        font-size: 14px;
    }
    .user{
        height: 50px;
        border-radius: 50%;
    }
    .feed-img{
        width: 100%;
        margin-top: 24px;
        border-radius: 16px;
    }
    .icons{
        display: flex;
        justify-content: space-between;
    }
    
    .story-container{
        width: 100%;
        display: flex;
        margin: 70px auto;
        gap: 8px;
        overflow: scroll;
    }
    .story{
    text-align: center;
    }
    .story-img{
        height: 76px;
        border-radius: 50%;
    }
    .app{
        display: flex;
        gap: 6px;
    }
    .app img{
        height: 40px;
    }
    .logo{
        height: 38px;
        margin-top: 8px;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        margin: 20px auto;
        align-items: center;
    }
    .btn{
        background-color: #fff;
        padding: 16px 30px;
        font-size: 16px;
        border-radius: 12px;
        border: 1px solid lightgray;
    }
}
@media(min-width:990px){
    .container{
        width: 990px;
        margin:30px auto;
        display: flex;
        gap: 40px;
    }
    .feeds{
        width: 590px;
        
    }
    .sidebar{
        width: 400px;
        
    }
    .title{
        margin-top: 0;
    }
    .feed{
        border: 1px solid lightgray;
        border-radius: 16px;
        padding: 10px;
        margin-bottom: 24px;
    }
    .profile{
        display: flex;
        gap: 6px;
        align-items: center;
    }
    .name{
        margin: 0;
    }
    .user-name{
        margin:0;
        color: rgb(56, 56, 56);
        font-size: 14px;
    }
    .user{
        height: 50px;
        border-radius: 50%;
    }
    .feed-img{
        width: 100%;
        margin-top: 24px;
        border-radius: 16px;
    }
    .icons{
        display: flex;
        justify-content: space-between;
    }
    
    .story-container{
        width: 990px;
        display: flex;
        margin: 70px auto;
        gap: 8px;
    }
    .story{
    text-align: center;
    }
    .story-img{
        height: 76px;
        border-radius: 50%;
    }
    .app{
        display: flex;
        gap: 6px;
    }
    .app img{
        height: 40px;
    }
    .logo{
        height: 38px;
        margin-top: 8px;
    }
    .navbar{
        width: 990px;
        display: flex;
        justify-content: space-between;
        margin: 20px auto;
        align-items: center;
    }
    .btn{
        background-color: #fff;
        padding: 16px 30px;
        font-size: 16px;
        border-radius: 12px;
        border: 1px solid lightgray;
    }
}