/* class name always starts with a dot */
.title{
    color: red;
}
.center{
    text-align: center;
}
/* box model
    border => thickness, style, color
    padding
    margin
*/
.box{
    border: 1px solid lightgray;
    width: 300px;
    padding: 10px;
    margin: 60px auto;
    border-radius: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.box-img{
    width: 100%;
    border-radius: 14px;
}
.bg{
    background-color: orangered;
    width: 700px;
    margin: 20px auto;
    color: white;
    padding: 120px 50px;
    border-radius: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.btn{
    background-color: white;
    padding: 14px 28px;
    border: none;
    font-size: 16px;
    border-radius: 60px;
}

.login{
    width: 400px;
    margin: 120px auto;
}
.input{
    width: 100%;
    margin-bottom: 12px;
    padding:14px;
    box-sizing: border-box;
    font-size: 14px;
    border: 1px solid lightgray;
}
.login-btn{
    background-color: black;
    border: none;
    padding: 14px 24px;
    font-size: 14px;
    color: white;
    
}

.container{
    text-align: right;
}
/* box-sizing: border-box; ensures that u can use padding and the content does not 
got out of the parent element */

.card{
    border: 1px solid lightgray;
    /* padding: 10px; */
    margin: 60px auto;
    width: 300px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card-img{
    width: 100%;
}
.padding{
    padding: 8px;
}
.card-footer{
    border-top: 1px solid lightgray;
}
