.marquee {
    overflow: hidden;
    position: relative;
    white-space: nowrap; /* Ensure boxes stay in a single line */
  }
  
  .track {
    display: flex;
    animation: marqueeEffect 5s linear infinite;
  }
  
  .box {
    width: 250px;
    height: 250px;
    margin-right: 20px; /* Adjust spacing between boxes */
    background-color: #3498db; /* Example color */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    flex-shrink: 0;
  }
  
  @keyframes marqueeEffect {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  




  .btn{
    border: 1px solid lightgray;
    padding: 16px 30px;
    border-radius: 12px;
    font-size: 16px;
    background-color: white;
    position: relative;
    color: black;
    overflow: hidden;
    z-index: 0;
  }
  .btn::after{
    content: "";
    width: 0;
    height: 100%;
    background-color: rgb(255, 184, 184);
    position: absolute;
    top: 0;
    left: 0;
    transition: .3s ease-in-out;
    z-index: -1;
  }

  .btn:hover::after{
    width: 100%;
  }