/* class name in css always starts with a dot */
.abc{
    /* selector */
    color: red;
}
.center{
    text-align: center;
}


/* div => 
    1. to structure the code
    2. to apply the css to all inner elements in one shot
*/
/* box model
    border => thickness, style, color
    padding => 
    margin
*/



.box{
     border: 1px solid lightgray;
     width: 300px;
     padding: 10px;
     margin: 60px auto;
     border-radius: 14px;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.box-img{
    width: 100%;
    border-radius: 14px;
}
.bg{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: orangered;
    width: 670px;
    margin: 60px auto;
    color: white;
    padding: 120px 40px;
    border-radius: 18px;
}

.btn{
    background-color: white;
    border: none;
    padding: 16px 30px;
    font-size: 16px;
    border-radius: 80px;
}
.login{
    text-align: center;
    width: 340px;
    margin: 120px auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.input{
    width: 100%;
    margin-bottom: 10px;
    padding: 14px;
    border: 1px solid gray;
    box-sizing: border-box;
    border-radius: 0;
    font-size: 16px;
}
.login-btn{
    background-color: black;
    color: white;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    border: none;
}
/* box-sizing: border-box it ensures that the content is not going out of the parent
    when u apply padding
*/
.logo{
    height: 40px;
}