/* media queries => responsive design */
/* responsive design means the webpage will look good on both big and small screens */
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


@media(min-width: 580px){
    .profile{
        width: 580px;
        margin: 60px auto;
        display: flex;
        gap: 16px;
        align-items: center;
    }
    .user{
        height:210px;
        border-radius: 12px;
        transition: .5s;
    }
    .user:hover{
        border-radius: 50%;
        transform: rotate(4deg);
    }
    .btn{
        background-color: black;
        color: white;
        padding: 16px 30px;
        font-size: 16px;
        border: none;
        border-radius: 12px;
        transition: .5s;
    }
    .btn:hover{
        background-color: blueviolet;
        border-radius: 60px;
    }
    .title{
        margin-top: 0;
    }
}
@media(max-width: 580px){
    .profile{
        text-align: center;
        margin: 60px auto;
        padding: 0 20px;
    }
    .user{
        height:160px;
        border-radius: 50%;
        transition: .5s;
    }
    .btn{
        background-color: rgb(0, 0, 0);
        color: white;
        padding: 16px 40px;
        font-size: 16px;
        border: none;
        border-radius: 60px;
        transition: .5s;
    }
    .title{
        margin-top: 24px;
    }
}

/* breakpoints
    mobile screens => max width 586px
    tablet => max 786px
    laptops => min 992px
    bif screesns => 1200px
*/

.demo{
    background-color: orangered;
    height: 80px;
    width: 80px;
    margin-top: 90px;
    animation-name: ronaldo;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    /* animation-fill-mode: forwards; */
}
@keyframes ronaldo{
    to{
        background-color: blueviolet;
        transform: rotate(360deg);
        margin-left: 600px;
        border-radius: 50%;
    }
}
.loader{
    width: 50px;
    height: 50px;
    border: 2px solid #00000019;
    border-radius: 50%;
    margin: 270px auto;
    border-top: 2px solid black;
    animation-name: loader;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes loader {
    to{
        transform: rotate(360deg);
    }
}