/* media queries => responsive desgin */

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@media(min-width:620px){
.profile{
    width: 600px;
    margin: 70px auto;
    gap: 12px;
    display: flex;
    align-items: center;
}

.user{
    transition: .3s;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
}
.user:hover{
    border-radius: 50%;
    transform: rotate(6deg) scale(1.1);
}
.btn{
    transition: .3s;
    background-color: black;
    color: white;
    padding: 16px 30px;
    border-radius: 12px;
    border: none;
    font-size: 16px;
}
.title{
    margin-top: 0;
}
}



@media(max-width:619px){
    .profile{
        margin: 70px auto;
        text-align: center;
    }
    
    .user{
        transition: .3s;
        width: 140px;
        height: 140px;
        object-fit: cover;
        border-radius: 50%;
    }
    .btn{
        transition: .3s;
        background-color: blueviolet;
        color: white;
        padding: 16px 30px;
        border-radius: 60px;
        border: none;
        font-size: 16px;
    }
    .title{
        margin-top: 24px;
    }
}




.demo{
    height: 100px;
    width: 100px;
    background-color: orangered;
    animation-name: msd;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    /* animation-fill-mode: forwards; */
}
@keyframes msd{
    to{
       transform: rotate(360deg);
       background-color: blueviolet;
       margin-left: 600px;
       border-radius: 50%;
    }
}


.loader{
    margin: 260px auto;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #eee;
    border-top: 2px solid black;
    animation-name: spinner;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes spinner {
        to{
            transform: rotate(360deg);
        }
}


.flex{
    display: flex;
    gap: 20px;
    margin: 20px auto;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
   
    height: 260px;
    border-radius: 12px;
    background-color: lightgray;
}