/* responsive design =>  */
/* media queries */
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@media(min-width: 600px){
    .profile{
        width: 600px;
        margin: 80px auto;
        display: flex;
        gap: 20px;
    }
    .user{
        height: 200px;
        width: 200px;
        border-radius: 16px;
        object-fit: cover;
        transition: .3s;
    }
    .user:hover{
        border-radius: 50%;
        transform: rotate(6deg);
    }
    .btn{
        background-color: black;
        padding: 15px 30px;
        color: white;
        font-size: 16px;
        border: 1px solid black;
        border-radius: 12px;
        transition: .3s;
    }
    .btn:hover{
       background-color: white;
       color: black;
    }
}
/* small screen  */
@media(max-width:599px){
    .profile{
        text-align: center;
        margin: 80px auto;
       
    }
    .user{
        height: 140px;
        width: 140px;
        border-radius: 50%;
        object-fit: cover;
        transition: .3s;
    }
    .btn{
        background-color: blueviolet;
        padding: 16px 40px;
        color: white;
        font-size: 16px;
        border: none;
        border-radius: 60px;
        transition: .3s;
    }
}



/* animation?? */
.demo{
    height: 100px;
    width: 100px;
    background-color: orangered;
    margin-top: 60px;
    animation-name: msd;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    /* animation-fill-mode: forwards; */
}
@keyframes msd{
    to{
        background-color: blueviolet;
        transform: rotate(360deg);
        margin-left: 700px;

    }
}

.loader{
    width: 60px;
    height: 60px;
    border:2px solid rgba(211, 211, 211, 0.275);
    border-radius: 50%;
    margin: 300px auto;
    border-top: 2px solid black;
    animation-name: loader;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes loader{
    to{
        transform: rotate(360deg);
    }
}