body{
    font-family: sans-serif;
}
.card{
    width: 240px;
    border: 1px solid lightgray;
    border-radius: 14px;
    padding: 10px;
}
.card-img{
    width: 100%;
    border-radius: 14px;
}
.flexbox{
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}
/* how to add the gap bwtween the cards => gap */
/* justify-content: is used to horizontally move the element */
/* align items is used to move the elements vertically */

.feed{
    width: 560px;
    margin: 40px auto;
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 16px;
}
.feed-img{
    width: 100%;
    border-radius: 16px;
}
.user{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}
.profile{
    display: flex;
    gap: 8px;
    margin-bottom: 24px;
    align-items: center;
}
.username{
    font-size: 14px;
    color: rgb(81, 81, 81);
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}