body{
    font-family: sans-serif;
}
.card{
    width: 240px;
    padding: 10px;
    border-radius: 14px;
    border: 1px solid lightgray;
}
.card-img{
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 14px;
}
.desc{
    font-size: 14px;
    margin-top: 0;
}
.card-title{
    /* margin-bottom: 8px; */
    font-size: 18px;
}
.flexbox{
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

/* justify content is used to horizontally / x axis move the elements */
/* align-items is used to move the elemenets vertically */


.feed{
    width: 560px;
    margin: 60px auto;

}
.feed-img{
    width: 100%;
    border-radius: 14px;
}
.profile{
    display: flex;
    margin-bottom: 24px;
    gap: 8px;
    align-items: center;
}
.username{
    font-size: 14px;
    color: rgb(82, 82, 82);
}
.user{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}