body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


@media(min-width: 990px){
    .container{
        display: flex;
        gap: 40px;
        width: 990px;
        margin: 60px auto;
        transition: .3s;
    }
    .feed{
        width: 560px;
        padding: 10px;
        border-radius: 14px;
        border: 1px solid lightgray;
        margin-bottom: 32px;
        transition: .3s;
    }
    .feed-img{
        width: 100%;
        border-radius: 14px;
        transition: .3s;
    }
    .profile{
        display: flex;
        margin-bottom: 24px;
        gap: 8px;
        align-items: center;
    }
    .user{
        height: 50px;
        width: 50px;
        object-fit: cover;
        border-radius: 50%;
    }
    .username{
        font-size: 14px;
        color: rgb(72, 72, 72);
    }
    .bi{
        font-size: 24px;
    }
    .reactions{
        display: flex;
        justify-content: space-between;
    }
    .reactions-left{
        display: flex;
        gap: 16px;
    }
    .links{
        display: flex;
        gap: 8px;
    }
    .link{
        height: 40px;
    }
    .sidedbar-title{
        margin-top: 0;
    }
    .p-video{
        height: 400px;
        object-fit: cover;
        transition: .3s;
    }
    .header{
        width: 990px;
        margin: 10px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .btn{
        background-color: #fff;
        border: 1px solid lightgray;
        padding: 12px 20px;
        border-radius: 10px;
        font-size: 16px;
    }
    .logo{
        height: 36px;
        transition: .3s;
    }
    
    .story-container{
        width: 990px;
        margin: 60px auto;
        display: flex;
        gap: 10px;
        transition: .3s;
    }
    .story{
        text-align: center;
        transition: .3s;
    }
    .story-img{
        height: 100px;
        width: 100px;
        object-fit: cover;
        border-radius: 50%;
        transition: .3s;
    }
    .name{
        font-size: 14px;
    }
}


/* small screens */

@media(max-width: 989px){
    .container{
       
        gap: 40px;
        width: auto;
        margin: 60px auto;
    }
    .feed{
        transition: .3s;
        width: auto;
        padding: 8px;
        border-radius: 14px;
        /* border: 1px solid rgb(242, 242, 242); */
        margin-bottom: 32px;
    }
    .sidebar{
        text-align: center;
    }
    .feed-img{
        width: 100%;
        border-radius: 14px;
    }
    .profile{
        display: flex;
        margin-bottom: 24px;
        gap: 8px;
        align-items: center;
    }
    .user{
        height: 50px;
        width: 50px;
        object-fit: cover;
        border-radius: 50%;
    }
    .username{
        font-size: 14px;
        color: rgb(72, 72, 72);
    }
    .bi{
        font-size: 24px;
    }
    .reactions{
        display: flex;
        justify-content: space-between;
    }
    .reactions-left{
        display: flex;
        gap: 16px;
    }
    .links{
        display: flex;
        justify-content: center;
        gap: 8px;
    }
    .link{
        height: 40px;
    }
    .sidedbar-title{
        margin-top: 0;
        font-size: 20px;
        font-weight: 600;
    }
    .p-video{
        height: 400px;
        object-fit: cover;
        transition: .3s;
    }
    .header{
        width: auto;
        margin: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: .3s;
    }
    .btn{
        background-color: #fff9e9;
        border: 1px solid #ffe293;
        color: #362700;;
        padding: 8px 14px;
        border-radius: 40px;
        font-size: 14px;
        transition: .3s;
    }
    .logo{
        height: 28px;
        transition: .3s;
    }
    
    .story-container{
        width: 100%;
        margin: 60px 8px;
        display: flex;
        gap: 16px;
        overflow-x: scroll;
        transition: .3s;
    }
    .story-container::-webkit-scrollbar{
        display: none;
        transition: .3s;
    }
    .story{
        text-align: center;
        transition: .3s;
    }
    .story-img{
        height: 70px;
        width: 70px;
        object-fit: cover;
        border-radius: 50%;
        transition: .3s;
    }
    .name{
        font-size: 14px;
    }
}